*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
        
}
    
body{
    
    background-color: rgb(239, 153, 250);
    font-family: 'Poppins';
        
}

.navbar{    
    position: absolute;
    padding: 30px;    
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;  
    cursor: pointer;
      
    
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 25px; 
    
       
    
}

.navbar.nav-links{
    position: absolute;
    display: flex;
    margin-right: 700px;
    
}

.nav-links a {
    color: rgb(255, 255, 255);
    font-weight: bold;    
        
}

.nav-links li:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;    
    
}

.nav-links li a:hover {
    color: rgb(99, 99, 249);
}

.nav-links ul {
    display: flex;  
    font-weight: bold;
            
}

.nav-links ul li{
    margin: 0 23px;
}

h1{
    position: absolute;
    padding-top: 150px;
    margin-left: 660px;
}

h3{
    position: absolute;
    padding-top: 200px;
    margin-left: 845px;
}

.FirstLesson{

    position: absolute;
    cursor: pointer;
    top: 260px;
    margin-left: 860px;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.385);
    border-color: rgba(21, 134, 255, 0.47);
    border-width: 4px;
    text-align: center;

    
}

.Quiz1{

    position: absolute;
    cursor: pointer;
    top: 375px;
    margin-left: 860px;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.385);
    border-color: rgba(51, 255, 0, 0.444);
    border-width: 4px;
    text-align: center;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
}


/*-----------------------------RESPONSIVE-----------------*/


/*--------------------------Responsive Desktop Laptop-------------------*/
/*Responsive 1629 x 850*/
@media screen and (max-width: 1629px) and (max-height: 850px){
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 520px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 710px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 730px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;   
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 730px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
    
}
/*Responsive 1280 x 950*/
@media screen and (max-width: 1280px) and (max-height: 950px){
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 370px;
    }
    
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 550px;
    }
    
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 560px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;
    
        
    }
    
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 560px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
    
}
/*Responsive 1920 x 1080*/
@media screen and (max-width: 1920px) and (max-height: 1080px){
    
    
}
/*Responsive 1630 x 944*/
@media screen and (max-width: 1630px) and (max-height: 944px){
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 500px;
    }
    
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 710px;
    }
    
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 710px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;
    
        
    }
    
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 710px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
    
}
/*Responsive 1280 x 800*/
@media screen and (max-width: 1280px) and (max-height: 800px){
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 370px;
    }
    
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 550px;
    }
    
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 560px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;
    
        
    }
    
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 560px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
    
    
}
/*Responsive 1440 x 900*/
@media screen and (max-width: 1440px) and (max-height: 900px){
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 410px;
    }
    
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 610px;
    }
    
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 620px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;
    
        
    }
    
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 620px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
    
}


/*--------------------------Responsive Tablets-------------------*/
/*Responsive Tablet 768 x 838*/
@media screen and (max-width: 768px) and (max-height: 838px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: -50px;
        font-size: 30px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 270px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 285px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 285px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
}
/*Responsive IPad 768 x 1024*/
@media screen and (max-width: 768px) and (max-height: 1024px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: -50px;
        font-size: 30px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 270px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 285px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 285px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
}
/*Responsive IPad Mini 768 x 1024*/
@media screen and (max-width: 768px) and (max-height: 1024px) {
    .navbar{
        padding: 0%;
    }
    .logo{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 25px;   
        top: 33px;
        left: 3%;
    }
    .btn{
        display: none;
    }
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 1;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
}
@media screen and (max-width: 820px) and (max-height: 1180px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 130px;
        font-size: 30px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 300px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 315px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 315px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
}
/*Responsive IPad Pro 1024 x 1366*/
@media screen and (max-width: 1024px) and (max-height: 1366px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    .nav-links ul{
        margin-top: -20%;
        margin-left: 5%;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 250px;
        font-size: 30px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 450px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 450px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 450px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
}
/*Responsive IPad Air 820 x 1180*/
@media screen and (max-width: 820px) and (max-height: 1180px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 130px;
        font-size: 30px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 300px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 315px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 315px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
}@media screen and (max-width: 1180px) and (max-height: 820px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    .nav-links ul{
        margin-left: 8%;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 340px;
        font-size: 30px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 530px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 540px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 540px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
}
/*Responsive IPad Air 848 x 850*/
@media screen and (max-width: 848px) and (max-height: 850px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 150px;
        font-size: 30px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 320px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 260px;
        margin-left: 330px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 330px;
        width: 200px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
}


/*--------------------------Responsive Iphone-------------------*/
/*Responsive Iphone 12 Pro Max 428 x 926*/
@media screen and (max-width: 428px) and (max-height: 926px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    h1{
        position: absolute;
        padding-top: 150px;
        margin-left: 20px;
        font-size: 20px;
    }
    h3{
        position: absolute;
        padding-top: 200px;
        margin-left: 130px;
        font-size: 15px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 250px;
        margin-left: 130px;
        width: 180px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 375px;
        margin-left: 130px;
        width: 180px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
    
}
/*Responsive Iphone 12 Pro 390 x 844*/
@media screen and (max-width: 390px) and (max-height: 844px) {
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 255, 0.619);
        backdrop-filter: blur(5px);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu-hamburger{
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 35px;
    z-index: 2;
    cursor: pointer;
    }
    .nav-links ul li{
        display: flex;
        margin: 23px 0;
        font-size: 23px;
    }
    h1{
        position: absolute;
        padding-top: 130px;
        margin-left: 25px;
        font-size: 17px;
    }
    h3{
        position: absolute;
        padding-top: 160px;
        margin-left: 110px;
        font-size: 15px;
    }
    .FirstLesson{
        position: absolute;
        cursor: pointer;
        top: 200px;
        margin-left: 110px;
        width: 180px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(21, 134, 255, 0.47);
        border-width: 4px;
        text-align: center;    
        
    }
    .Quiz1{
        position: absolute;
        cursor: pointer;
        top: 315px;
        margin-left: 110px;
        width: 180px;
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.385);
        border-color: rgba(51, 255, 0, 0.444);
        border-width: 4px;
        text-align: center;
    }
    
}
/*Responsive Iphone 12 390 x 844*/
@media screen and (max-width: 390px) and (max-height: 844px) {

}
/*Responsive Iphone 12 Mini 360 x 780*/
@media screen and (max-width: 360px) and (max-height: 780px) {
    .logo{
        position: absolute;
        top: 10px;
    }   
    .menu-hamburger{
        position: absolute;
        display: flex;
        top: 10px;
    }
}
/*Responsive Iphone 11 Pro Max 414 x 896*/
@media screen and (max-width: 414px) and (max-height: 896px) {

    
}
/*Responsive Iphone 11 Pro 375 x 812*/
@media screen and (max-width: 375px) and (max-height: 812px) {
    .logo{
        position: absolute;
        display: flex;
        top: 30px;
    }
    
}
/*Responsive Iphone 11 414 x 896*/
@media screen and (max-width: 414px) and (max-height: 896px) {
    
}
/*Responsive Iphone XR (2018) 414 x 896*/
@media screen and (max-width: 414px) and (max-height: 896px) {
    
}
/*Responsive Iphone X 375 x 812*/
@media screen and (max-width: 375px) and (max-height: 812px) {
    
}
























 
